{% extends "base.html" %}
{% block content %}
{% include 'nav.html' %}

<div class="container my-2 w-75">
  <table id="transactions-table" class="display nowrap w-100">
    <thead>
      <tr>
          <th>Book ID</th>
          <th>Member</th>
          <th>Count</th>
          <th>Charges</th>
          <th>Issue Date</th>
          <th>Issued By</th>
          <th>Return Date</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
          <th>Book ID</th>
          <th>Member</th>
          <th>Count</th>
          <th>Charges</th>
          <th>Issue Date</th>
          <th>Issued By</th>
          <th>Return Date</th>
      </tr>
    </tfoot>
  </table>      
</div>

<script>
  let transactions = JSON.parse(`{{ transactions | tojson | safe }}`);
  $(document).ready(function() {
    $('#transactions-table').DataTable( {
        data: transactions,
        columns: [
          { data: 'book_id' },
          { data: 'member_name' },
          { data: 'count' },
          { data: 'charges_due',
            render: function (data, type) {
              const val = data.toFixed(2);
              return type === "display" ? `Rs ${val}` : val;
            }
          },
          { data: 'issue_date',
            render: function(data, type) {
              const date = new Date(data).toDateString().split(" ");
              return `${date[0]}, ${date[1]} ${date[2]}, ${date[3]}`;
            }
          },
          { data: 'issued_by' },
          { data: 'return_date',
            render: function(data, type, full) {
              if(data === null || data === undefined) return type === "display" ? `<a href="/transactions/return/${full.id}" class="btn btn-outline-primary">RETURN</a>` : data;
              const date = new Date(data).toDateString().split(" ");
              return `${date[0]}, ${date[1]} ${date[2]}, ${date[3]}`;
            }
          },
          // { data: 'id',
          //   render: function(data, type, full) {
          //     if(type === "display")
          //       return full.return_date === null ? `<a href="/transactions/return/${data}" class="btn btn-outline-primary">RETURN</a>` : `<p>RETURNED</p>`;
          //     else
          //       return data
          //   }
          // }
        ]
    } );
  })
    

</script>
{% endblock %}