{% extends "base.html" %}
{% block content %}

<form class="container" method="get">
  <div class="row mb-2">
    <div class="form-group col-md-2">
      <select name="key" class="form-select rounded-pill border-primary">
        <option value="title" selected>Title</option>
        <option value="authors">Authors</option>
        <option value="isbn">ISBN</option>
        <option value="publisher">Publisher</option>
      </select>
    </div>
    <div class="form-group col-md-8">
      <input id="" name="query" placeholder="Enter search query" class="form-control" style="border-width: 0; border-bottom-width: 1px;">
    </div>
    <div class="form-group col-md-2 container">
      <button type="submit" class="btn btn-primary w-100 rounded-pill">Search</button>
    </div>
  </div>
</form>

{% if request.path == '/books' %}
  <div class="container text-center mb-4">
    <a href="/books/new" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"> Add new book record </a>
    &nbsp OR &nbsp
    <a href="/books/import" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"> Import book record from Frappe </a>
  </div>
{% endif %}

<!-- Book details Modal -->
<div class="modal fade" id="view-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="container mt-2">
          <div class="row">
            <div class="col-sm-8" id="view-modal-image">
              <!-- Book cover -->
            </div>
            <div class="col-sm-4 align-self-center" id="view-modal-content"> 
              <!-- Book details -->
            </div>          
          </div>  
        </div>      
      </div>

      <div class="modal-footer" id="view-modal-footer">
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal" id="delete-book">Delete</button>
        <!-- <button type="button" class="btn btn-outline-danger" id="delete-book">Delete</button> -->
        <button type="button" class="btn btn-primary" id="edit-book">Edit</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for number of copies -->
<div class="modal" id="total-copies-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Number of copies to import</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="number" class="form-control" name="total_copies" id="total-copies-input">    
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="total-copies-submit" >Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for book issue -->
<div class="modal" id="issue-book-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Issue Book</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/transactions/issue" method="post" id="issue-book-form" class="container text-center">
          <div class="form-floating mb-2">
            <input type="number" class="form-control mb-2" name="book_id" id="issue-book-id" hidden>    
            <label for="issue-book">Book ID</label>
          </div>
          <div class="form-floating mb-2">
            <input type="date" class="form-control mb-2" name="issue_date" id="issue-date" hidden>       
            <label for="issue-date">Issue Date</label>
          </div>  
          <div class="form-floating mb-2">
            <input type="number" class="form-control mb-2" name="count" id="issue-book-count" value="1">        
            <label for="issue-book-count">Number of Copies</label>
          </div>  
          <select class="form-select mb-4" name="member_id" id="issue-member" aria-label="Member select">
            <option selected>Select Members</option>
          </select>

          <button id="submit-book" type="submit" class="btn btn-primary w-25">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- card deck -->
<div class="row row-cols-4 my-2">
  {% for book in books %}
    <div class="col">
      <div class="card mx-2 my-2 overflow-hidden" style="width: 18rem; height: 30rem;">
        {% if request.path == '/books' %} 
        <img src="/static/media/{{ book.cover_image }}" class="card-img-top" alt="" height="240rem" loading="lazy">        
        {% elif request.path == '/books/import' %}
        <img src="https://covers.openlibrary.org/b/isbn/{{ book.isbn }}-M.jpg" class="card-img-top" alt="" height="240rem" loading="lazy">        
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ book.title }}</h5>
          <p class="card-subtitle mb-2 text-body-secondary">{{ book.isbn }}</p>
          <p class="card-text">By <em>{{ book.authors }}</em></p>
          <div class="container text-center">
            {% if request.path == '/books' %} 
              <button class="btn btn-outline-primary mx-2" id="view-book-{{ loop.index-1 }}"> View </button>
              <button class="btn btn-primary mx-2" id="issue-book-{{ loop.index-1 }}">Issue</button>
            {% elif request.path == '/books/import' %}
              <button class="btn btn-primary w-75" id="import-book-{{ loop.index-1 }}" >Import</button>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

<!-- Pagination -->
<nav aria-label="Page navigation example" class="container">
  <ul class="pagination justify-content-end">
    <li class="page-item mx-2">
      <a class="page-link" href="{{ request.path }}?page={{ page-1 }}&{{ query_str }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item mx-2">
      <a class="page-link" href="{{ request.path }}?page={{ page }}&{{ query_str }}" aria-label="Current">
        <span aria-hidden="true"> <b>{{ page }}</b> </span>
      </a>
    </li>
    <li class="page-item mx-2">
      <a class="page-link" href="{{ request.path }}?page={{ page+1 }}&{{ query_str }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>

<script>

  let books = JSON.parse(`{{ books | tojson | safe }}`);
  const members = JSON.parse(`{{ members | tojson | safe }}`);
  let book = null;

  function deleteBook(idx) {
    book = books[idx];
    if(book === null || book === undefined) return;
    books.splice(idx, 1);
    fetch(`/books/${book.id}`, {
      method: "DELETE"
    }).then((res) => {
      if(res.status === 200) {
        window.location.href = "/books"
      }
    });

    book = null;
  }

  function editBook(idx) {
    book = books[idx];
    if(book === null || book === undefined) return;
    window.location.href = `/books/${book.id}`
  }

  function viewBook(idx) {
    book = books[idx];

    $("#view-modal-image").children().remove();
    $("#view-modal-content").children().remove();
    $("#delete-book").off("click");
    $("#edit-book").off("click");

    $("#view-modal-image").append(`<img src="/static/media/${book.cover_image}" alt="" width=80%/>`);

    $("#view-modal-content").append(`<h5> ${book.title} </h5>`);
    $("#view-modal-content").append(`<p> ISBN: ${book.isbn} </p>`);
    $("#view-modal-content").append(`<p> Publisher: ${book.publisher} </p>`);
    $("#view-modal-content").append(`<p> Authors: ${book.authors} </p>`);
    $("#view-modal-content").append(`<p> Pages: ${book.num_pages} </p>`);
    $("#view-modal-content").append(`<p> Total copies: ${book.total_copies} </p>`);
    $("#view-modal-content").append(`<p> Available copies: ${book.available_copies} </p>`);

    $("#delete-book").on("click", function() { deleteBook(idx) });
    $("#edit-book").on("click", function() { editBook(idx) });

    $("#view-modal").modal("show");
  }

  $(document).ready(function() {
    $("#view-modal").modal({"show": false});
    $("#total-copies-modal").modal({"show": false});
    $("#issue-book-modal").modal({"show": false});

    if( "{{ request.path }}" === "/books" ) {
      console.log("path", "{{ request.path }}");
      for(let i=0; i<books.length; i++) {
        $(`#view-book-${i}`).on("click", function() { viewBook(i) });
        $(`#issue-book-${i}`).on("click", function() { issueBook(i) });
      }
    } else if( "{{ request.path }}" === "/books/import" ) {
      $(`#total-copies-submit`).on("click", function() { importBookSubmit() });
      for(let i=0; i<books.length; i++) {
        $(`#import-book-${i}`).on("click", function() { importBook(i) });
      }
    }
  });

  function issueBook(idx) {
    book = books[idx];
    console.log(book);
    $("#issue-book-id").val(book.id);
    document.getElementById("issue-date").valueAsDate = new Date();
    let options = $("#issue-member");
    $.each(members, function() {
        options.append(new Option(this.name, this.id));
    });
    $("#issue-book-modal").modal("show");

  }

  function importBook(idx) {
    book = books[idx];
    if(book === null || book === undefined) return;

    $("#total-copies-modal").modal("show");
  }

  function importBookSubmit() {
    $("#total-copies-modal").modal("hide");
    let form_import = document.createElement("form");
    form_import.id = `form_import_${book.isbn}`;
    form_import.method = "POST"
    form_import.action = "/books/new"

    let ele_title = document.createElement("input");
    ele_title.type = "hidden";
    ele_title.name = "title";
    ele_title.value = book.title;
    form_import.appendChild(ele_title);
    
    let ele_isbn = document.createElement("input");
    ele_isbn.type = "hidden";
    ele_isbn.name = "isbn";
    ele_isbn.value = book.isbn;
    form_import.appendChild(ele_isbn);
    
    let ele_authors = document.createElement("input");
    ele_authors.type = "hidden";
    ele_authors.name = "authors";
    ele_authors.value = book.authors;
    form_import.appendChild(ele_authors);
    
    let ele_publisher = document.createElement("input");
    ele_publisher.type = "hidden";
    ele_publisher.name = "publisher";
    ele_publisher.value = book.publisher;
    form_import.appendChild(ele_publisher);
    
    let ele_num_pages = document.createElement("input");
    ele_num_pages.type = "hidden";
    ele_num_pages.name = "num_pages";
    ele_num_pages.value = book['  num_pages'];
    form_import.appendChild(ele_num_pages);

    let ele_total_copies = document.createElement("input");
    ele_total_copies.type = "hidden";
    ele_total_copies.name = "total_copies";
    ele_total_copies.value = $("#total-copies-input").val();
    // ele_total_copies.value = 1;
    form_import.appendChild(ele_total_copies);
        
    document.body.appendChild(form_import);
    form_import.submit();
    return;
  }

</script>
{% endblock %}