{% extends "base.html" %}
{% block content %}

<form class="container" method="get">
  <div class="row mb-4">
    <div class="form-group col-md-2">
      <select name="key" class="form-select rounded-pill border-primary">
        <option value="title" selected>Title</option>
        <option value="authors">Authors</option>
        <option value="isbn">ISBN</option>
        <option value="publisher">Publisher</option>
      </select>
    </div>
    <div class="form-group col-md-8">
      <input id="" name="query" placeholder="Enter search query" class="form-control" style="border-width: 0; border-bottom-width: 1px;">
    </div>
    <div class="form-group col-md-2 container">
      <button type="submit" class="btn btn-primary w-100 rounded-pill">Search</button>
    </div>
  </div>
</form>


<!-- card deck -->
<div class="row row-cols-4">
  {% for book in books %}
    <div class="col">
      <div class="card mx-2 my-2 overflow-hidden" style="width: 18rem; height: 30rem;">
        <img src="https://covers.openlibrary.org/b/isbn/0811209059-M.jpg" class="card-img-top" alt="..." height="240rem">
        <div class="card-body">
          <h5 class="card-title">{{ book.title }}</h5>
          <p class="card-subtitle mb-2 text-body-secondary">{{ book.isbn }}</p>
          <p class="card-text">By <em>{{ book.authors }}</em></p>
          <div class="container text-center">
            <button class="btn btn-outline-primary mx-2">View</button>
            {% if request.path == '/books' %} 
              <button class="btn btn-primary mx-2">Issue</button>
            {% elif request.path == '/books/import' %}
            <button class="btn btn-primary mx-2">Import</button>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

{% endblock %}